@model MovieRentaMVC.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ol>
    <li>Genre: @Model.genre.Name</li>
    <li>In stock: @Model.InStock</li>
    <li>Release date: @Model.ReleaseDate</li>
    <li>Date added: @Model.DateAdded</li>
</ol>


